<div class="images">
	<img alt="惠生活" src="{$smarty.const.IMG_URL}img_01.jpg" >
	<img alt="惠生活" src="{$smarty.const.IMG_URL}img_02.jpg" >
	<img alt="惠生活" src="{$smarty.const.IMG_URL}img_03.jpg" >
	<img alt="惠生活" src="{$smarty.const.IMG_URL}img_04.jpg">
	<a href="{$smarty.const.__MODULE__}/Goods/detail/goods_id/29" target="_blank">
		<img alt="惠生活" src="{$smarty.const.IMG_URL}img_05.jpg">
	</a>
	<img alt="惠生活" src="{$smarty.const.IMG_URL}img_06.jpg">
	<a href="{$smarty.const.__MODULE__}/Goods/detail/goods_id/30" target="_blank">
		<img alt="惠生活" src="{$smarty.const.IMG_URL}img_07.jpg">
	</a>
	<img alt="惠生活" src="{$smarty.const.IMG_URL}img_08.jpg">
	<a href="{$smarty.const.__MODULE__}/Goods/detail/goods_id/29" target="_blank">
	<img alt="惠生活" src="{$smarty.const.IMG_URL}img_09.jpg">
	</a>
</div>
