<div class="images">
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r1_c1.jpg"  ismap="ismap" >
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r2_c1.jpg" >
	<a href="{$smarty.const.__MODULE__}/Goods/detail/goods_id/1" target="_blank">
		<img alt="罗浮山荔枝" src="{$smarty.const.IMG_URL}pic_r3_c1.jpg" >
	</a>
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r4_c1.jpg" >
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r5_c1.jpg" >
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r6_c1.jpg" >
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r7_c1.jpg" >
	<a href="{$smarty.const.__MODULE__}/Goods/detail/goods_id/1" target="_blank">
		<img alt="罗浮山荔枝" src="{$smarty.const.IMG_URL}pic_r8_c1.jpg" >
	</a>
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r9_c1.jpg" >
	<a href="{$smarty.const.__MODULE__}/Goods/detail/goods_id/1" target="_blank">
		<img alt="糯米糍荔枝" src="{$smarty.const.IMG_URL}pic_r10_c1.jpg" >
	</a>
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r11_c1.jpg" >
	<a href="{$smarty.const.__MODULE__}/Goods/detail/goods_id/1" target="_blank">
		<img alt="妃子笑荔枝" src="{$smarty.const.IMG_URL}pic_r12_c1.jpg" >
	</a>
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r13_c1.jpg" >
	<a href="{$smarty.const.__MODULE__}/Goods/detail/goods_id/1" target="_blank">
		<img alt="海南荔枝" src="{$smarty.const.IMG_URL}pic_r14_c1.jpg" >
	</a>
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r15_c1.jpg" >
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r16_c1.jpg" >
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r17_c1.jpg" >
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r18_c1.jpg" >
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r19_c1.jpg" >
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r20_c1.jpg" >
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r21_c1.jpg" >
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r22_c1.jpg" >
	<img alt="好荔知时节" src="{$smarty.const.IMG_URL}pic_r23_c1.jpg" >
</div>
