<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>订单列表</title>

        <link href="{$smarty.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <style>
            {literal}
            .tr_color{background-color: #9F88FF}
            {/literal}
        </style>
        <div class="div_head">
            <span style="float: left;">当前位置是：订单管理-》订单列表</span>
        </div>
        <form class="search" action="{$smarty.const.__CONTROLLER__}/search" method="post">
	        <div style="margin-left:5px;">
	            <span><input name="key" datatype="*" nullmsg="请输入关键词。" errormsg="输入有误。" placeholder="请输入订单号或会员账号" type="text" /></span>
	            <span><input type="submit" value="查找"/></span>
	            <span class="Validform_checktip"></span>
	        </div>
        </form>
        <div style="font-size: 13px; margin: 10px 5px;">
            <table class="table_a" border="1" width="100%">
                <tbody><tr style="font-weight: bold;">
                        <td>订单编号</td>
                        <td>订单商品</td>
                        <td>订单总价</td>
                        <td>购买会员</td>
                        <td>手机号码</td>
                        <td>创建时间</td>
                        <td>订单状态</td>
                        <td align="center">操作</td>
                    </tr>
                    {foreach $info as $k => $v}
                    <tr id="product1">
                        <td>{$v.order_no}</td>
                        <td>{$oinfo[$v.order_no]}……</td>
                        <td>{$v.price}</td>
                        <td>{$ninfo[$v.user_id]}</td>
                        <td>{$v.phone}</td>
                        <td>{date("Y-m-d H:i:s",$v.create_time)}</td>
                        {if $v.status==0}
                        <td>未支付</td>
                        {else if $v.status==1}
                        <td><font color="red">已支付</font></td>
                        {else if $v.status==2}
                         <td>已发货</td>
                        {else if $v.status==3}
                        <td>已收货</td>
                        {else if $v.status==4}
                        <td>
                        	<a href="{$smarty.const.__MODULE__}/Reviews/search/order_no/{$v.order_no}">已评价</a>
                        </td>
                        {/if}
                        <td>
                        	<a href='{$smarty.const.__CONTROLLER__}/detail/order_no/{$v.order_no}'>详情</a>&nbsp;
                       	{if $v.status==0}
                        	<a href='{$smarty.const.__CONTROLLER__}/upd/order_no/{$v.order_no}'>修改</a>&nbsp;
                        {/if}
                       	{if $v.status==1}
                        	<a href='{$smarty.const.__CONTROLLER__}/deliver/order_no/{$v.order_no}'>发货</a>&nbsp;
                        {/if}
                            <a onclick="return confirm('确定删除？')" href='{$smarty.const.__CONTROLLER__}/del/order_no/{$v.order_no}'>删除</a></td>
                    </tr>
                    {/foreach}
                    <tr>
                        <td colspan="20" style="text-align: center;">
                        {$pagelist}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    <script src="{$smarty.const.JS_URL}jquery-1.8.2.js"></script>
	<script type="text/javascript" src="{$smarty.const.VALIDFORM_JS_URL}Validform_v5.3.2.js"></script>
    <script type="text/javascript">
		$(function(){
			$(".search").Validform({
				tiptype:2
			});
		})
	</script>
	
    </body>
</html>